body {
  background-color: floralwhite; }
  body * {
    -webkit-transform: skew(170deg, 170deg);
    -moz-transform: skew(170deg, 170deg);
    -ms-transform: skew(170deg, 170deg);
    -o-transform: skew(170deg, 170deg);
    transform: skew(170deg, 170deg); }
  body h2 {
    transform: rotate(2deg); }
